body {
    background-color: lightseagreen;
}

#topPicture {
    padding: 0;
    margin: 0;
    width: 100%;
}

.contents {
    background-color: #f6f6f6;
    box-shadow: 5px 5px 8px #333;
    overflow: visible;
    margin: 0 50px 10px;
}

.row {
    padding: 10px 50px;
    text-align: center;
}

.row::after {
    content:"";
    display: table;
    clear: both;
}

.col {
    float:left;
    width:190px;
    height:230px;
    margin: 30px;
    padding: 20px;
    background-color: transparent;
            /*#d4f5fa;*/
    border-radius: 0.5em;
    overflow: hidden;
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical; !* 垂直排列 *!*/
    word-break: break-all;  /* 内容自动换行 */
    text-decoration: none;
    text-align: center;
    box-shadow: 0 0 5px #888888;
}

.col:hover {
    background-color: rgba(32, 178, 170, 0.70);
}

.col:hover p, .col:hover h5 {
    color: white;
}

.col img {
    border-radius: 0.5em;
}

.col h5 {
    font-size: 15px;
    text-align: left;
    padding: 15px;
    color: lightseagreen;
}

.col p {
    text-align: left;
    font-size: 12px;
    color: #c2c2c2;
    width: 200px;
    overflow:hidden;
    text-overflow:ellipsis;
    /*background: goldenrod;*/
    white-space: nowrap;
}

footer {
    clear: both;
    background-color: lightseagreen;
    color: white;
    line-height: 22px;
    padding: 20px;
    font-size: 12px;
    vertical-align: bottom;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

footer a:hover {
    color: blue;
}

.media-links a{
    margin: 20px;
}

.up-refresh {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.up-refresh div {
    margin-bottom: 20px;
}