body {
    background-color: #f9f9f9;
}
.drop-toggle {
    padding: 0 11px 2px;
    margin-bottom: -1px;
    cursor: default;
    height: auto !important;
    position: relative;
    display: inline-block;
}

ul.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.drop-toggle:hover .dropdown-menu {
    display: block;
}

.nav-left {
    list-style: none;
    display: inline-flex;
    margin-left: 10px;
}

#myAccount {
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #333;
}

.nav-left a, #myAccount{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.dropdown-menu a {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: black;
    line-height: 30px;
}

.dropdown-menu li:hover {
    background-color: lightgray;
}

.nav-left a:hover, #myAccount:hover {
    background-color: #111;
}

.icon-caret-down {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 4px solid white;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    overflow: hidden;
}

#topPicture {
    padding: 0;
    margin: 0;
    width: 100%;
}

.row {
    padding: 100px;
}

.row::after {
    content:"";
    display: table;
    clear: both;
}

.col {
    float:left;
    width:190px;
    height:230px;
    margin: 30px;
    padding: 20px;
    background-color: seashell;
    border-radius: 0.5em;
    overflow: hidden;
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical; !* 垂直排列 *!*/
    word-break: break-all;  /* 内容自动换行 */
    color: black;
    text-decoration: none;
    text-align: center;
}

.col h5 {
    font-size: 15px;
    text-align: left;
    padding: 15px;
}

.col p {
    text-align: left;
    font-size: 12px;
    color: #c2c2c2;
    width: 200px;
    overflow:hidden;
    text-overflow:ellipsis;
    /*background: goldenrod;*/
    white-space: nowrap;
}

footer {
    clear: both;
    background-color: #3c3c3c;
    color: #c2c2c2;
    line-height: 22px;
    padding-bottom: 20px;
    font-size: 12px;
    vertical-align: bottom;
}